<div class="container-fluid">
  <div class="row">
    <div class="col-lg-2 user-nav user-nav-pc border-right border-right d-lg-block d-none">
      <ul>
        <li class="active"><%= link_to "アカウント", users_account_path %></li>
        <li class=""><%= link_to "プロフィール", users_profile_path %></li>
      </ul>
    </div>
    <div class="d-lg-none user-nav user-nav-mobile form-inline">
      <ul>
        <li class="active"><%= link_to "アカウント", users_account_path %></li>
        <li class=""><%= link_to "プロフィール", users_profile_path %></li>
      </ul>
    </div>
    <div class="col-lg-10">
      <div class="m-5 border">
        <div class="form-group border-bottom mx-1 p-3">
          <h5>アカウント</h5>
        </div>
        <div class="form-group form-row border-bottom mx-2 p-2">
          <label class="col-md-3" for="email">メールアドレス</label>
          <div class="col-md-9"><%= @user.email %></div>
        </div>
        <div class="form-group form-row border-bottom mx-2 p-2">
          <label class="col-md-3" for="password">パスワード</label>
          <div class="col-md-9">*********</div>
        </div>
        <div class="form-group">
          <%= link_to "編集", edit_user_registration_path, class: "col-md-2 btn btn-primary mx-3" %>
        </div>
      </div>
    </div>
  </div>
</div>
