<p id="notice"><%= notice %></p>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-2 user-nav user-nav-pc border-right d-lg-block d-none">
      <ul>
        <li class=""><%= link_to "アカウント", users_account_path %></li>
        <li class="active"><%= link_to "プロフィール", users_profile_path %></li>
      </ul>
    </div>
    <div class="d-lg-none user-nav user-nav-mobile form-inline">
      <ul>
        <li class=""><%= link_to "アカウント", users_account_path %></li>
        <li class="active"><%= link_to "プロフィール", users_profile_path %></li>
      </ul>
    </div>
    <div class="col-lg-10 user-view" style="background-color: #F6F8F9;">
      <div class="m-5 border" style="background-color: #fff;">
        <%= form_with model: @user, url: users_profile_update_path, local: true, method: :patch do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <%= hidden_field_tag :id, @user.id %>
        <div class="form-group p-3 mx-2 border-bottom">
          <h5>プロフィール</h5>
        </div>
        <div class="form-group form-row p-3 mx-2 border-bottom">
          <div class="col-md-3 required-b pt-2">
            <%= f.label :new_icon_img %>
            <span class="badge badge-danger p-1">必須</span>
          </div>
          <div id="icon-img" class="col-md-9 text-center mb-4">
            <%= image_tag "/default_profile_img.jpg",
                  class: "rounded-circle text-center", size: "65x65",
                  id: "fileInputButton", onclick: "document.getElementById('fileInput').click()" %>
            <%= f.file_field :new_icon_img, autofocus: true, autocomplete: "name", id: "fileInput",
                    style: "display:none", "v-on:change": "btnClick" %>
          </div>
        </div>
        <div class="form-group form-row p-3 mx-2 border-bottom">
          <div class="col-md-3 required-b pt-2">
            <%= f.label :name %>
            <span class="badge badge-danger p-1">必須</span>
          </div>
          <%= f.text_field :name, autofocus: true, autocomplete: "name",
                  class: "form-control col-md-9 px-2 mb-4", placeholder: "" %>
          <% if resource.errors.include?(:name) %>
            <p class="pt-1" style="color: red;"><%= "※ #{resource.errors.full_messages_for(:name).first}" %>
          <% end %>
        </div>

        <div class="form-group form-row p-3 mx-2 border-bottom">
          <div class="col-md-3 required-b pt-2">
            <%= f.label :description %>
            <span class="badge badge-danger p-1">必須</span>
          </div>
          <%= f.text_field :description, autofocus: true, autocomplete: "description",
                  style: "height: 150px;", class: "form-control col-md-9 px-2 mb-4", placeholder: "自己紹介を入力" %>
          <% if resource.errors.include?(:description) %>
            <p class="pt-1" style="color: red;"><%= "※ #{resource.errors.full_messages_for(:description).first}" %>
          <% end %>
        </div>

        <div class="actions pb-3 p-3 mx-2">
          <%= f.submit "更新", class: "col-2 btn btn-primary" %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<%= javascript_pack_tag 'icon_img_attach' %>
