<div class="container">
  <div class="rounded border p-4">
    <%= form_with(model: @reservation, url: reservations_path, local: true, method: :post, class: "py-3") do |form| %>
      <%= form.hidden_field :user_id, value: current_user.id %>
      <%= form.hidden_field :room_id, value: @room.id %>
      <div class="form-group border-bottom">
        <h5>予約内容確認</h5>
      </div>

      <div class="form-group">
        <p>
          <%= "¥ #{@reservation.room.price}／日" %>
        </p>
      </div>

      <div class="field form-group">
        <%= form.label :start_date %>
        <%= form.text_field :start_date, class: "form-control", readonly: "readonly" %>
      </div>

      <div class="field form-group">
        <%= form.label :end_date %>
        <%= form.text_field :end_date, class: "form-control", readonly: "readonly" %>
      </div>

      <div class="field form-group border-bottom">
        <h6><%= "使用日数 : #{@date_diff}日" %></h6>
      </div>

      <div class="field form-group border-bottom">
          <%= form.hidden_field :number_of_people, value: @reservation.number_of_people %>
        <h6><%= "人数 : #{@reservation.number_of_people}人" %></h6>
      </div>

      <div class="field form-group">
        <%= form.label :total_amount %>
        <%= form.text_field :total_amount, class: "form-control", readonly: "readonly" %>
      </div>

      <div class="field form-group border-bottom">
        <p>上記内容でよろしければ「予約を確定」を押してください</p>
      </div>

      <div class="actions form-group">
        <%= form.submit "予約を確定", class: "btn btn-primary my-3 form-control" %>
        <%= link_to "ルーム詳細に戻る", @room, class: "btn btn-secondary form-control" %>
      </div>
    <% end %>
  </div>
</div>
